LOG_LEVEL=debug
RMQ_URL=amqp://guest:guest@rabbitmq:5672/
PROVIDER1_URL=
PROVIDER2_URL=
PROVIDER3_URL=
PROVIDER4_URL=
QUEUE_NAME=ETH_PROXY
NUM_THREADS_PER_CONSUMER=2
PROVIDER_NAMES=PROVIDER1,PROVIDER2,PROVIDER3,PROVIDER4